In [2]:
import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
from db import execute_query
from data_store import query_cache
from data_store import init_data_store, refresh_all_data

In [3]:
query_data = init_data_store()
refresh_all_data()

retention_df = query_cache["retention"]

Initializing global data store...
Loading most recent data for 'users' from data/users_2025-05-20_14-21-36.pkl
Loaded data from data/users_2025-05-20_14-21-36.pkl
Loaded data for 'users' into memory cache
Loading most recent data for 'dau' from data/analytics_dau_users_2025-05-20_14-21-38.pkl
Loaded data from data/analytics_dau_users_2025-05-20_14-21-38.pkl
Loaded data for 'dau' into memory cache
Loading most recent data for 'retention' from data/retention_2025-05-20_14-21-39.pkl
Loaded data from data/retention_2025-05-20_14-21-39.pkl
Loaded data for 'retention' into memory cache
Refreshing all data in cache...

Executing query: users
Querying main database: users
Query results saved to data/users_2025-05-22_10-53-57.pkl and data/users_2025-05-22_10-53-57.csv
Deleted old file: data/users_2025-05-20_14-21-36.pkl
Deleted old file: data/users_2025-05-20_14-21-36.csv
Cleaned up old files for query: users

Executing query: dau
Querying analytics database: dau
Query results saved to data/analytics_dau_users_2025-05-22_10-54-00.pkl and data/analytics_dau_users_2025-05-22_10-54-00.csv
Deleted old file: data/analytics_dau_users_2025-05-20_14-21-38.pkl
Deleted old file: data/analytics_dau_users_2025-05-20_14-21-38.csv
Cleaned up old files for query: analytics_dau_users

Executing query: retention
Querying analytics database: retention
Query results saved to data/retention_2025-05-22_10-54-00.pkl and data/retention_2025-05-22_10-54-00.csv
Deleted old file: data/retention_2025-05-20_14-21-39.pkl
Deleted old file: data/retention_2025-05-20_14-21-39.csv
Cleaned up old files for query: retention
Refreshed data for 'users' in memory cache
Refreshed data for 'dau' in memory cache
Refreshed data for 'retention' in memory cache

In [4]:
dau_df = query_cache["dau"]
user_df = query_cache["users"]

In [19]:
dau_df

           date                                       unique_users
0    2025-05-22  [2, 13, 21, 29, 33, 45, 52, 84, 131, 147, 223,...
1    2025-05-21  [-1, 2, 13, 18, 21, 29, 33, 50, 52, 61, 84, 13...
2    2025-05-20  [2, 13, 21, 29, 33, 45, 52, 61, 69, 84, 131, 1...
3    2025-05-19  [2, 13, 21, 29, 33, 45, 52, 84, 131, 132, 147,...
4    2025-05-18  [2, 13, 21, 29, 33, 45, 50, 52, 61, 84, 131, 1...
..          ...                                                ...
237  2024-09-27                                           [68, 69]
238  2024-09-26                                       [66, 69, 70]
239  2024-09-25                                               [69]
240  2024-09-24                                           [64, 68]
241  2024-09-23                                       [64, 66, 67]

[242 rows x 2 columns]

In [24]:
print(type(dau_df['date'].iloc[0]))

<class 'datetime.date'>

In [25]:
march_data = dau_df[dau_df['date'].apply(lambda x: x.month == 3)]

In [30]:
len(march_data["unique_users"].explode().unique())

194

In [6]:
user_df

,user_id,email,first_name,dietary_preferences,onboarding_complete,diet_program_version,referral_source,credits,last_active,offer_id,...,original_transaction_id,expiry_date,purchase_date,product_id,auto_renew_product_id,status,created_at,expected_mmr,promo_codes_used,promo_code_count
0,1174,jennie_h@me.com,Jennie,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Reddit,3,2025-05-05 18:24:25.795995+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-04 08:08:07.000,0,[None],0
1,1063,miel.plessers@gmail.com,Miel,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.25.4,None,3,2025-04-22 09:58:41.426929+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-22 09:50:10.000,0,[None],0
2,769,4stzb56mdk@privaterelay.appleid.com,Cyrus,"{'Thai': True, 'Greek': False, 'French': False...",True,1.23.2,None,3,2025-04-13 10:56:43.794639+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-03-26 17:21:56.078,0,[None],0
3,1272,assafica@gmail.com,Assaf,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,None,2,2025-05-16 00:00:55.104084+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-15 23:38:18.108,0,[None],0
4,596,angelinaambrosia@gmail.com,angelina,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.21.0,None,3,NaT,None,...,420002322807812,2025-04-02 03:25:32+00:00,2025-03-19 03:25:32+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,2.0,2025-03-19 03:08:23.234,0,[None],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901,1181,rleemsj@gmail.com,Rachel,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Word of Mouth,3,2025-05-08 19:01:22.694767+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-05 01:23:11.335,0,[None],0
902,387,khunter2@naver.com,ByoungGon,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,NaT,20off,...,jjmfkiajadcldfnbepkhncjg.AO-J1OzeF-86JaeCvu4-V...,2025-03-13 09:47:22.596000+00:00,2025-02-27 09:47:23.285000+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,2.0,2025-02-27 09:43:24.000,0,"[20off, RINAJ2025]",2
903,856,dh5z6hfcjh@privaterelay.appleid.com,Joyce,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.23.7,None,10,2025-04-20 13:05:38.824198+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-01 04:02:06.715,0,[None],0
904,262,ckuznik@wisc.edu,Camille,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-02-25 00:08:16.344,0,[None],0
905,412,salvimamgain74@gmail.com,Salvi,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,2025-04-03 16:18:27.082906+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-03-01 04:08:55.920,0,[None],0

In [7]:
retention_df

,date,total_users,returning_users_day1,day1_retention_rate,returning_users_day7,day7_retention_rate,returning_users_day14,day14_retention_rate
0,2024-09-23,3,1,33.33,1,33.33,0,0.00
1,2024-09-24,2,0,0.00,0,0.00,0,0.00
2,2024-09-25,1,1,100.00,0,0.00,0,0.00
3,2024-09-26,3,1,33.33,0,0.00,0,0.00
4,2024-09-27,2,0,0.00,0,0.00,0,0.00
...,...,...,...,...,...,...,...,...
237,2025-05-18,51,30,58.82,0,0.00,0,0.00
238,2025-05-19,48,29,60.42,0,0.00,0,0.00
239,2025-05-20,40,23,57.50,0,0.00,0,0.00
240,2025-05-21,41,19,46.34,0,0.00,0,0.00
241,2025-05-22,32,0,0.00,0,0.00,0,0.00

In [15]:
retention_analysis

,cohort_date,cohort_size,day1_active_users,day1_retention,day7_active_users,day7_retention,day14_active_users,day14_retention,day30_active_users,day30_retention,cohort_week,cohort_month
88,2025-04-22,12,1,8.333333,1,8.333333,0,0.000000,0,0.000000,2025-04-21/2025-04-27,2025-04
87,2025-04-21,5,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-04-21/2025-04-27,2025-04
86,2025-04-20,3,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-04-14/2025-04-20,2025-04
85,2025-04-19,5,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-04-14/2025-04-20,2025-04
84,2025-04-18,6,2,33.333333,0,0.000000,0,0.000000,0,0.000000,2025-04-14/2025-04-20,2025-04
...,...,...,...,...,...,...,...,...,...,...,...,...
4,2025-01-16,3,2,66.666667,3,100.000000,2,66.666667,2,66.666667,2025-01-13/2025-01-19,2025-01
3,2025-01-15,9,5,55.555556,5,55.555556,5,55.555556,5,55.555556,2025-01-13/2025-01-19,2025-01
2,2025-01-11,1,1,100.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-06/2025-01-12,2025-01
1,2025-01-08,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-06/2025-01-12,2025-01
0,2025-01-03,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2024-12-30/2025-01-05,2025-01

In [32]:
user_df.head(20)

,user_id,email,first_name,dietary_preferences,onboarding_complete,diet_program_version,referral_source,credits,last_active,offer_id,...,expiry_date,purchase_date,product_id,auto_renew_product_id,status,created_at,expected_mmr,promo_codes_used,promo_code_count,created_date
0,1174,jennie_h@me.com,Jennie,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Reddit,3,2025-05-05 18:24:25.795995+00:00,None,...,NaT,NaT,None,None,NaN,2025-05-04 08:08:07.000,0,[None],0,2025-05-04
1,1063,miel.plessers@gmail.com,Miel,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.25.4,None,3,2025-04-22 09:58:41.426929+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-22 09:50:10.000,0,[None],0,2025-04-22
2,769,4stzb56mdk@privaterelay.appleid.com,Cyrus,"{'Thai': True, 'Greek': False, 'French': False...",True,1.23.2,None,3,2025-04-13 10:56:43.794639+00:00,None,...,NaT,NaT,None,None,NaN,2025-03-26 17:21:56.078,0,[None],0,2025-03-26
3,1272,assafica@gmail.com,Assaf,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,None,2,2025-05-16 00:00:55.104084+00:00,None,...,NaT,NaT,None,None,NaN,2025-05-15 23:38:18.108,0,[None],0,2025-05-15
4,596,angelinaambrosia@gmail.com,angelina,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.21.0,None,3,NaT,None,...,2025-04-02 03:25:32+00:00,2025-03-19 03:25:32+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,2.0,2025-03-19 03:08:23.234,0,[None],0,2025-03-19
5,1145,luca.lakota@gmail.com,Luca,"{'Thai': True, 'Greek': False, 'French': False...",True,1.26.2,None,1,2025-05-22 16:14:38.142733+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-29 17:03:15.130,0,[None],0,2025-04-29
6,707,yvxb9fxd4c@privaterelay.appleid.com,Ekene,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.22.2,None,3,NaT,None,...,NaT,NaT,None,None,NaN,2025-03-23 05:25:21.120,0,[None],0,2025-03-23
7,796,veronikaalksere@gmail.com,Veronika,"{'Thai': True, 'Greek': True, 'French': True, ...",True,1.23.2,None,3,NaT,None,...,NaT,NaT,None,None,NaN,2025-03-27 08:44:41.600,0,[None],0,2025-03-27
8,1336,reginarochelle0817@icloud.com,Regina,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,None,3,2025-05-22 10:38:16.283134+00:00,None,...,NaT,NaT,None,None,NaN,2025-05-22 10:35:49.325,0,[None],0,2025-05-22
9,1062,7p7948jgg6@privaterelay.appleid.com,Natalie,"{'Thai': True, 'Greek': False, 'French': False...",True,1.25.4,None,3,2025-04-24 22:34:55.296192+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-21 23:02:37.723,0,[None],0,2025-04-21
10,1137,joakimhilton@gmail.com,J,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.2,None,3,2025-04-28 03:57:08.558188+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-28 03:46:24.000,0,[None],0,2025-04-28
11,1016,7pgq5qmcnt@privaterelay.appleid.com,Josh,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.24.0,None,2,2025-04-22 19:00:48.837956+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-15 18:55:28.851,0,[None],0,2025-04-15
12,1316,2txcf7q958@privaterelay.appleid.com,Nejmo,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Rina Jung,1,2025-05-22 17:51:48.911716+00:00,FREE_ACCESS,...,2026-05-21 10:20:49+00:00,2025-05-21 10:20:49+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,1.0,2025-05-18 21:37:35.487,12.99,[FREE_ACCESS],1,2025-05-18
13,495,absw3131@gmail.com,Abigail,None,False,None,None,3,NaT,None,...,NaT,NaT,None,None,NaN,2025-03-06 16:46:22.182,0,[None],0,2025-03-06
14,1172,7kgrjp5wzw@privaterelay.appleid.com,Priya,"{'Thai': True, 'Greek': True, 'French': False,...",True,1.26.3,Connie Hsu,3,2025-05-11 08:46:19.015510+00:00,None,...,NaT,NaT,None,None,NaN,2025-05-03 20:15:23.495,0,[None],0,2025-05-03
15,1120,alec@liveluxee.com,Alec,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.1,None,3,2025-04-26 19:01:16.257309+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-25 16:22:40.447,0,[None],0,2025-04-25
16,1121,6b8kbgnp82@privaterelay.appleid.com,MARCUS,"{'Thai': True, 'Greek': False, 'French': False...",True,1.26.1,None,2,2025-04-29 04:36:31.398158+00:00,None,...,2025-05-28 01:17:45+00:00,2025-04-28 01:17:45+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,1.0,2025-04-25 16:53:36.588,0,[None],0,2025-04-25
17,545,kmacd1990@gmail.com,Kelsey,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.21.0,None,3,2025-04-09 17:22:08.846039+00:00,None,...,2025-03-26 19:37:13+00:00,2025-03-12 19:37:13+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,2.0,2025-03-12 19:34:43.257,0,[None],0,2025-03-12
18,1054,rachit.tandon9623@gmail.com,rachit,"{'Thai': False, 'Greek': False, 'French': True...",True,1.25.4,None,3,2025-04-26 19:01:31.146802+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-20 08:16:06.353,0,[None],0,2025-04-20
19,865,syyxd86fbp@privaterelay.appleid.com,Richard,None,False,None,None,3,2025-04-02 06:12:01.001165+00:00,None,...,NaT,NaT,None,None,NaN,2025-04-02 06:12:00.239,0,[None],0,2025-04-02

In [36]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# First, let's process dau_df to get actual user IDs by date
dau_processed = dau_df.copy()

# Ensure unique_users is actually a list of user IDs
if isinstance(dau_df['unique_users'].iloc[0], str):
    dau_processed['unique_users'] = dau_df['unique_users'].apply(eval)

# Convert dates to datetime objects if they're not already
dau_processed['date'] = pd.to_datetime(dau_processed['date'])
user_df['created_at'] = pd.to_datetime(user_df['created_at'])

# Create a dictionary to map dates to active users
date_to_users = dict(zip(dau_processed['date'], dau_processed['unique_users']))

# Group users by creation date to form cohorts
user_df['created_date'] = user_df['created_at'].dt.date

# Remove rows where last active date is null
user_df = user_df[user_df['last_active'].notna()]


cohorts = user_df.groupby('created_date')['user_id'].apply(list).to_dict()

# Calculate retention for each cohort
retention_results = []

for cohort_date, cohort_users in cohorts.items():
    cohort_date = pd.to_datetime(cohort_date)
    cohort_size = len(cohort_users)
    
    # Skip cohorts that are too recent for Day 30 analysis
    if cohort_date > dau_processed['date'].max() - timedelta(days=30):
        continue
    
    # Calculate Day 1 retention
    day1_date = cohort_date + timedelta(days=1)
    day1_active_users = []
    if day1_date in date_to_users:
        day1_active_users = [user for user in cohort_users if user in date_to_users[day1_date]]
    day1_count = len(day1_active_users)
    day1_retention = (day1_count / cohort_size * 100) if cohort_size > 0 else 0
    
    # Calculate Day 7 retention
    day7_date = cohort_date + timedelta(days=7)
    day7_active_users = []
    if day7_date in date_to_users:
        day7_active_users = [user for user in cohort_users if user in date_to_users[day7_date]]
    day7_count = len(day7_active_users)
    day7_retention = (day7_count / cohort_size * 100) if cohort_size > 0 else 0
    
    # Calculate Day 14 retention
    day14_date = cohort_date + timedelta(days=14)
    day14_active_users = []
    if day14_date in date_to_users:
        day14_active_users = [user for user in cohort_users if user in date_to_users[day14_date]]
    day14_count = len(day14_active_users)
    day14_retention = (day14_count / cohort_size * 100) if cohort_size > 0 else 0
    
    # Calculate Day 30 retention
    day30_date = cohort_date + timedelta(days=30)
    day30_active_users = []
    if day30_date in date_to_users:
        day30_active_users = [user for user in cohort_users if user in date_to_users[day30_date]]
    day30_count = len(day30_active_users)
    day30_retention = (day30_count / cohort_size * 100) if cohort_size > 0 else 0
    
    retention_results.append({
        'cohort_date': cohort_date,
        'cohort_size': cohort_size,
        'day1_active_users': day1_count,
        'day1_retention': day1_retention,
        'day7_active_users': day7_count,
        'day7_retention': day7_retention,
        'day14_active_users': day14_count,
        'day14_retention': day14_retention,
        'day30_active_users': day30_count,
        'day30_retention': day30_retention
    })

# Create a DataFrame from the results
retention_analysis = pd.DataFrame(retention_results)

# Sort by cohort date
retention_analysis = retention_analysis.sort_values('cohort_date', ascending=False)

# Add week and month columns for grouping
retention_analysis['cohort_week'] = retention_analysis['cohort_date'].dt.to_period('W').astype(str)
retention_analysis['cohort_month'] = retention_analysis['cohort_date'].dt.to_period('M').astype(str)

# Weekly cohort analysis
weekly_retention = retention_analysis.copy()
weekly_avg = weekly_retention.groupby('cohort_week').agg({
    'cohort_size': 'sum',
    'day1_active_users': 'sum',
    'day7_active_users': 'sum',
    'day14_active_users': 'sum',
    'day30_active_users': 'sum'
})

weekly_avg['day1_retention'] = weekly_avg['day1_active_users'] / weekly_avg['cohort_size'] * 100
weekly_avg['day7_retention'] = weekly_avg['day7_active_users'] / weekly_avg['cohort_size'] * 100
weekly_avg['day14_retention'] = weekly_avg['day14_active_users'] / weekly_avg['cohort_size'] * 100
weekly_avg['day30_retention'] = weekly_avg['day30_active_users'] / weekly_avg['cohort_size'] * 100

# Monthly cohort analysis
monthly_retention = retention_analysis.copy()
monthly_avg = monthly_retention.groupby('cohort_month').agg({
    'cohort_size': 'sum',
    'day1_active_users': 'sum',
    'day7_active_users': 'sum',
    'day14_active_users': 'sum',
    'day30_active_users': 'sum'
})

monthly_avg['day1_retention'] = monthly_avg['day1_active_users'] / monthly_avg['cohort_size'] * 100
monthly_avg['day7_retention'] = monthly_avg['day7_active_users'] / monthly_avg['cohort_size'] * 100
monthly_avg['day14_retention'] = monthly_avg['day14_active_users'] / monthly_avg['cohort_size'] * 100
monthly_avg['day30_retention'] = monthly_avg['day30_active_users'] / monthly_avg['cohort_size'] * 100

# Display results
print("Daily cohort retention analysis (most recent 10 days):")
print(retention_analysis.head(10)[['cohort_date', 'cohort_size', 'day1_retention', 'day7_retention', 'day14_retention', 'day30_retention']])

print("\nWeekly cohort retention analysis (most recent 10 weeks):")
recent_weeks = weekly_avg.head(10)[['cohort_size', 'day1_retention', 'day7_retention', 'day14_retention', 'day30_retention']]
print(recent_weeks)

print("\nMonthly cohort retention analysis (all months):")
print(monthly_avg[['cohort_size', 'day1_retention', 'day7_retention', 'day14_retention', 'day30_retention']])

# Calculate overall retention rates
overall_cohort_size = retention_analysis['cohort_size'].sum()
overall_day1_users = retention_analysis['day1_active_users'].sum()
overall_day7_users = retention_analysis['day7_active_users'].sum()
overall_day14_users = retention_analysis['day14_active_users'].sum()
overall_day30_users = retention_analysis['day30_active_users'].sum()

overall_day1_retention = overall_day1_users / overall_cohort_size * 100
overall_day7_retention = overall_day7_users / overall_cohort_size * 100
overall_day14_retention = overall_day14_users / overall_cohort_size * 100
overall_day30_retention = overall_day30_users / overall_cohort_size * 100

print("\nOverall retention metrics:")
print(f"Total users analyzed: {overall_cohort_size}")
print(f"Day 1 Retention: {overall_day1_retention:.2f}%")
print(f"Day 7 Retention: {overall_day7_retention:.2f}%")
print(f"Day 14 Retention: {overall_day14_retention:.2f}%")
print(f"Day 30 Retention: {overall_day30_retention:.2f}%")

# Calculate rolling averages for weekly retention to identify trends
weekly_avg_sorted = weekly_avg.sort_index()
weekly_avg_sorted['day1_retention_rolling'] = weekly_avg_sorted['day1_retention'].rolling(window=4).mean()
weekly_avg_sorted['day7_retention_rolling'] = weekly_avg_sorted['day7_retention'].rolling(window=4).mean()
weekly_avg_sorted['day14_retention_rolling'] = weekly_avg_sorted['day14_retention'].rolling(window=4).mean()
weekly_avg_sorted['day30_retention_rolling'] = weekly_avg_sorted['day30_retention'].rolling(window=4).mean()

print("\nRolling 4-week average retention (most recent 10 weeks):")
print(weekly_avg_sorted.tail(10)[['cohort_size', 'day1_retention_rolling', 'day7_retention_rolling', 'day14_retention_rolling', 'day30_retention_rolling']])

Daily cohort retention analysis (most recent 10 days):
   cohort_date  cohort_size  day1_retention  day7_retention  day14_retention  \
74  2025-04-22           12        8.333333        8.333333              0.0
73  2025-04-21            5        0.000000        0.000000              0.0
72  2025-04-20            3        0.000000        0.000000              0.0
71  2025-04-19            5        0.000000        0.000000              0.0
70  2025-04-18            6       33.333333        0.000000              0.0
69  2025-04-17            3       66.666667       33.333333              0.0
68  2025-04-16            5        0.000000        0.000000              0.0
67  2025-04-15            9       44.444444        0.000000              0.0
66  2025-04-14            7        0.000000        0.000000              0.0
65  2025-04-13            2        0.000000        0.000000              0.0

    day30_retention
74              0.0
73              0.0
72              0.0
71              0.0
70              0.0
69              0.0
68              0.0
67              0.0
66              0.0
65              0.0

Weekly cohort retention analysis (most recent 10 weeks):
                       cohort_size  day1_retention  day7_retention  \
cohort_week
2025-01-06/2025-01-12            1      100.000000        0.000000
2025-01-13/2025-01-19           13       61.538462       69.230769
2025-01-20/2025-01-26            7       28.571429       57.142857
2025-01-27/2025-02-02            4       50.000000        0.000000
2025-02-03/2025-02-09            4       75.000000        0.000000
2025-02-10/2025-02-16            3       66.666667        0.000000
2025-02-17/2025-02-23            2       50.000000       50.000000
2025-02-24/2025-03-02           25       48.000000       48.000000
2025-03-03/2025-03-09           11       54.545455       27.272727
2025-03-10/2025-03-16            8       25.000000       12.500000

                       day14_retention  day30_retention
cohort_week
2025-01-06/2025-01-12         0.000000         0.000000
2025-01-13/2025-01-19        61.538462        53.846154
2025-01-20/2025-01-26        42.857143        71.428571
2025-01-27/2025-02-02         0.000000         0.000000
2025-02-03/2025-02-09        25.000000        25.000000
2025-02-10/2025-02-16        66.666667        66.666667
2025-02-17/2025-02-23        50.000000        50.000000
2025-02-24/2025-03-02        28.000000        20.000000
2025-03-03/2025-03-09         9.090909        27.272727
2025-03-10/2025-03-16         0.000000         0.000000

Monthly cohort retention analysis (all months):
              cohort_size  day1_retention  day7_retention  day14_retention  \
cohort_month
2025-01                25       52.000000       52.000000        44.000000
2025-02                32       53.125000       40.625000        34.375000
2025-03                94       30.851064        9.574468         6.382979
2025-04               151       23.178808        4.635762         4.635762

              day30_retention
cohort_month
2025-01             48.000000
2025-02             28.125000
2025-03              5.319149
2025-04              2.649007

Overall retention metrics:
Total users analyzed: 302
Day 1 Retention: 31.13%
Day 7 Retention: 13.91%
Day 14 Retention: 11.59%
Day 30 Retention: 9.93%

Rolling 4-week average retention (most recent 10 weeks):
                       cohort_size  day1_retention_rolling  \
cohort_week
2025-02-17/2025-02-23            2               60.416667
2025-02-24/2025-03-02           25               59.916667
2025-03-03/2025-03-09           11               54.803030
2025-03-10/2025-03-16            8               44.386364
2025-03-17/2025-03-23           31               40.757331
2025-03-24/2025-03-30           36               34.312887
2025-03-31/2025-04-06           59               26.608727
2025-04-07/2025-04-13           43               27.916866
2025-04-14/2025-04-20           38               24.309056
2025-04-21/2025-04-27           17               20.224089

                       day7_retention_rolling  day14_retention_rolling  \
cohort_week
2025-02-17/2025-02-23               12.500000                35.416667
2025-02-24/2025-03-02               24.500000                42.416667
2025-03-03/2025-03-09               31.318182                38.439394
2025-03-10/2025-03-16               34.443182                21.772727
2025-03-17/2025-03-23               25.168988                10.885630
2025-03-24/2025-03-30               13.863433                 5.968964
2025-03-31/2025-04-06                7.892709                 4.543694
2025-04-07/2025-04-13                6.511895                 7.450671
2025-04-14/2025-04-20                3.943983                 5.837768
2025-04-21/2025-04-27                4.720127                 3.754434

                       day30_retention_rolling
cohort_week
2025-02-17/2025-02-23                35.416667
2025-02-24/2025-03-02                40.416667
2025-03-03/2025-03-09                40.984848
2025-03-10/2025-03-16                24.318182
2025-03-17/2025-03-23                12.624633
2025-03-24/2025-03-30                 7.624633
2025-03-31/2025-04-06                 2.077638
2025-04-07/2025-04-13                 3.240429
2025-04-14/2025-04-20                 2.433977
2025-04-21/2025-04-27                 2.433977

In [37]:
monthly_avg

,cohort_size,day1_active_users,day7_active_users,day14_active_users,day30_active_users,day1_retention,day7_retention,day14_retention,day30_retention
cohort_month,,,,,,,,,
2025-01,25,13,13,11,12,52.000000,52.000000,44.000000,48.000000
2025-02,32,17,13,11,9,53.125000,40.625000,34.375000,28.125000
2025-03,94,29,9,6,5,30.851064,9.574468,6.382979,5.319149
2025-04,151,35,7,7,4,23.178808,4.635762,4.635762,2.649007

In [18]:
retention_analysis.tail(20)

,cohort_date,cohort_size,day1_active_users,day1_retention,day7_active_users,day7_retention,day14_active_users,day14_retention,day30_active_users,day30_retention,cohort_week,cohort_month
19,2025-02-05,2,2,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-02-03/2025-02-09,2025-02
18,2025-02-04,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-02-03/2025-02-09,2025-02
17,2025-02-03,2,0,0.000000,0,0.000000,1,50.000000,1,50.000000,2025-02-03/2025-02-09,2025-02
16,2025-01-31,1,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
15,2025-01-29,3,2,66.666667,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
14,2025-01-28,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
13,2025-01-27,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
12,2025-01-26,1,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-20/2025-01-26,2025-01
11,2025-01-25,3,2,66.666667,1,33.333333,1,33.333333,1,33.333333,2025-01-20/2025-01-26,2025-01
10,2025-01-24,2,1,50.000000,0,0.000000,0,0.000000,1,50.000000,2025-01-20/2025-01-26,2025-01
9,2025-01-23,1,0,0.000000,1,100.000000,1,100.000000,1,100.000000,2025-01-20/2025-01-26,2025-01
8,2025-01-21,2,2,100.000000,2,100.000000,1,50.000000,1,50.000000,2025-01-20/2025-01-26,2025-01
7,2025-01-20,1,0,0.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-20/2025-01-26,2025-01
6,2025-01-18,1,0,0.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-13/2025-01-19,2025-01
5,2025-01-17,1,1,100.000000,0,0.000000,1,100.000000,0,0.000000,2025-01-13/2025-01-19,2025-01
4,2025-01-16,3,2,66.666667,3,100.000000,2,66.666667,2,66.666667,2025-01-13/2025-01-19,2025-01
3,2025-01-15,9,5,55.555556,5,55.555556,5,55.555556,5,55.555556,2025-01-13/2025-01-19,2025-01
2,2025-01-11,1,1,100.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-06/2025-01-12,2025-01
1,2025-01-08,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-06/2025-01-12,2025-01
0,2025-01-03,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2024-12-30/2025-01-05,2025-01