In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime, timedelta
from db import execute_query
from data_store import query_cache
from data_store import init_data_store, refresh_all_data

In [2]:
query_data = init_data_store()
refresh_all_data()

retention_df = query_cache["retention"]

Initializing global data store...
Loading most recent data for 'users' from data/users_2025-05-23_15-56-55.pkl
Loaded data from data/users_2025-05-23_15-56-55.pkl
Loaded data for 'users' into memory cache
Loading most recent data for 'dau' from data/analytics_dau_users_2025-05-23_15-56-58.pkl
Loaded data from data/analytics_dau_users_2025-05-23_15-56-58.pkl
Loaded data for 'dau' into memory cache
Loading most recent data for 'retention' from data/retention_2025-05-23_15-56-59.pkl
Loaded data from data/retention_2025-05-23_15-56-59.pkl
Loaded data for 'retention' into memory cache
Refreshing all data in cache...

Executing query: users
Querying main database: users
Query results saved to data/users_2025-05-23_15-57-47.pkl and data/users_2025-05-23_15-57-47.csv
Deleted old file: data/users_2025-05-23_15-56-55.pkl
Deleted old file: data/users_2025-05-23_15-56-55.csv
Cleaned up old files for query: users

Executing query: dau
Querying analytics database: dau
Query results saved to data/analytics_dau_users_2025-05-23_15-57-52.pkl and data/analytics_dau_users_2025-05-23_15-57-52.csv
Deleted old file: data/analytics_dau_users_2025-05-23_15-56-58.pkl
Deleted old file: data/analytics_dau_users_2025-05-23_15-56-58.csv
Cleaned up old files for query: analytics_dau_users

Executing query: retention
Querying analytics database: retention
Query results saved to data/retention_2025-05-23_15-57-53.pkl and data/retention_2025-05-23_15-57-53.csv
Deleted old file: data/retention_2025-05-23_15-56-59.pkl
Deleted old file: data/retention_2025-05-23_15-56-59.csv
Cleaned up old files for query: retention
Refreshed data for 'users' in memory cache
Refreshed data for 'dau' in memory cache
Refreshed data for 'retention' in memory cache

In [3]:
dau_df = query_cache["dau"]
user_df = query_cache["users"]

In [4]:
dau_df

           date                                       unique_users
0    2025-05-23  [2, 13, 21, 29, 33, 45, 52, 84, 91, 131, 147, ...
1    2025-05-22  [2, 13, 21, 29, 33, 45, 52, 84, 131, 147, 223,...
2    2025-05-21  [-1, 2, 13, 18, 21, 29, 33, 50, 52, 61, 84, 13...
3    2025-05-20  [2, 13, 21, 29, 33, 45, 52, 61, 69, 84, 131, 1...
4    2025-05-19  [2, 13, 21, 29, 33, 45, 52, 84, 131, 132, 147,...
..          ...                                                ...
238  2024-09-27                                           [68, 69]
239  2024-09-26                                       [66, 69, 70]
240  2024-09-25                                               [69]
241  2024-09-24                                           [64, 68]
242  2024-09-23                                       [64, 66, 67]

[243 rows x 2 columns]

In [5]:
print(type(dau_df['date'].iloc[0]))

<class 'datetime.date'>

In [6]:
march_data = dau_df[dau_df['date'].apply(lambda x: x.month == 3)]

In [7]:
len(march_data["unique_users"].explode().unique())

194

In [8]:
user_df

,user_id,email,first_name,dietary_preferences,onboarding_complete,diet_program_version,referral_source,credits,last_active,offer_id,...,original_transaction_id,expiry_date,purchase_date,product_id,auto_renew_product_id,status,created_at,expected_mmr,promo_codes_used,promo_code_count
0,856,dh5z6hfcjh@privaterelay.appleid.com,Joyce,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.23.7,None,10,2025-04-20 13:05:38.824198+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-01 04:02:06.715,0,[None],0
1,262,ckuznik@wisc.edu,Camille,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-02-25 00:08:16.344,0,[None],0
2,412,salvimamgain74@gmail.com,Salvi,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,2025-04-03 16:18:27.082906+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-03-01 04:08:55.920,0,[None],0
3,1174,jennie_h@me.com,Jennie,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Reddit,3,2025-05-05 18:24:25.795995+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-04 08:08:07.000,0,[None],0
4,1063,miel.plessers@gmail.com,Miel,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.25.4,None,3,2025-04-22 09:58:41.426929+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-22 09:50:10.000,0,[None],0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,1319,lavoe1974@gmail.com,George,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Word of Mouth,1,2025-05-19 01:53:02.246417+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-19 01:46:02.890,0,[None],0
910,1287,sarahlangleben@gmail.com,Sarah,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Word of Mouth,1,2025-05-21 22:39:03.796317+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-16 21:24:37.936,0,[None],0
911,266,hzhgeorgesun@gmail.com,George,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-02-25 00:20:25.097,0,[None],0
912,1181,rleemsj@gmail.com,Rachel,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Word of Mouth,3,2025-05-08 19:01:22.694767+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-05 01:23:11.335,0,[None],0
913,387,khunter2@naver.com,ByoungGon,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,NaT,20off,...,jjmfkiajadcldfnbepkhncjg.AO-J1OzeF-86JaeCvu4-V...,2025-03-13 09:47:22.596000+00:00,2025-02-27 09:47:23.285000+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,2.0,2025-02-27 09:43:24.000,0,"[20off, RINAJ2025]",2

In [9]:
retention_df

,date,total_users,returning_users_day1,day1_retention_rate,returning_users_day7,day7_retention_rate,returning_users_day14,day14_retention_rate
0,2024-09-23,3,1,33.33,1,33.33,0,0.00
1,2024-09-24,2,0,0.00,0,0.00,0,0.00
2,2024-09-25,1,1,100.00,0,0.00,0,0.00
3,2024-09-26,3,1,33.33,0,0.00,0,0.00
4,2024-09-27,2,0,0.00,0,0.00,0,0.00
...,...,...,...,...,...,...,...,...
238,2025-05-19,48,29,60.42,0,0.00,0,0.00
239,2025-05-20,40,23,57.50,0,0.00,0,0.00
240,2025-05-21,41,20,48.78,0,0.00,0,0.00
241,2025-05-22,35,21,60.00,0,0.00,0,0.00
242,2025-05-23,33,0,0.00,0,0.00,0,0.00

In [10]:
user_df.head(20)

,user_id,email,first_name,dietary_preferences,onboarding_complete,diet_program_version,referral_source,credits,last_active,offer_id,...,original_transaction_id,expiry_date,purchase_date,product_id,auto_renew_product_id,status,created_at,expected_mmr,promo_codes_used,promo_code_count
0,856,dh5z6hfcjh@privaterelay.appleid.com,Joyce,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.23.7,None,10,2025-04-20 13:05:38.824198+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-01 04:02:06.715,0,[None],0
1,262,ckuznik@wisc.edu,Camille,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-02-25 00:08:16.344,0,[None],0
2,412,salvimamgain74@gmail.com,Salvi,"{'Thai': False, 'Greek': False, 'French': Fals...",True,None,None,3,2025-04-03 16:18:27.082906+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-03-01 04:08:55.920,0,[None],0
3,1174,jennie_h@me.com,Jennie,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Reddit,3,2025-05-05 18:24:25.795995+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-04 08:08:07.000,0,[None],0
4,1063,miel.plessers@gmail.com,Miel,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.25.4,None,3,2025-04-22 09:58:41.426929+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-22 09:50:10.000,0,[None],0
5,769,4stzb56mdk@privaterelay.appleid.com,Cyrus,"{'Thai': True, 'Greek': False, 'French': False...",True,1.23.2,None,3,2025-04-13 10:56:43.794639+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-03-26 17:21:56.078,0,[None],0
6,1272,assafica@gmail.com,Assaf,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,None,2,2025-05-16 00:00:55.104084+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-15 23:38:18.108,0,[None],0
7,596,angelinaambrosia@gmail.com,angelina,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.21.0,None,3,NaT,None,...,420002322807812,2025-04-02 03:25:32+00:00,2025-03-19 03:25:32+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,2.0,2025-03-19 03:08:23.234,0,[None],0
8,1145,luca.lakota@gmail.com,Luca,"{'Thai': True, 'Greek': False, 'French': False...",True,1.26.2,None,1,2025-05-23 18:21:26.276500+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-29 17:03:15.130,0,[None],0
9,707,yvxb9fxd4c@privaterelay.appleid.com,Ekene,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.22.2,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-03-23 05:25:21.120,0,[None],0
10,796,veronikaalksere@gmail.com,Veronika,"{'Thai': True, 'Greek': True, 'French': True, ...",True,1.23.2,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-03-27 08:44:41.600,0,[None],0
11,1336,reginarochelle0817@icloud.com,Regina,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,None,3,2025-05-23 22:30:28.145515+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-22 10:35:49.325,0,[None],0
12,1062,7p7948jgg6@privaterelay.appleid.com,Natalie,"{'Thai': True, 'Greek': False, 'French': False...",True,1.25.4,None,3,2025-04-24 22:34:55.296192+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-21 23:02:37.723,0,[None],0
13,1137,joakimhilton@gmail.com,J,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.2,None,3,2025-04-28 03:57:08.558188+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-28 03:46:24.000,0,[None],0
14,1016,7pgq5qmcnt@privaterelay.appleid.com,Josh,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.24.0,None,2,2025-04-22 19:00:48.837956+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-15 18:55:28.851,0,[None],0
15,1316,2txcf7q958@privaterelay.appleid.com,Nejmo,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.3,Rina Jung,1,2025-05-23 19:00:52.754800+00:00,FREE_ACCESS,...,720001922216453,2026-05-21 10:20:49+00:00,2025-05-21 10:20:49+00:00,ai.gymii.gymiiai.subscription.monthly,ai.gymii.gymiiai.subscription.monthly,1.0,2025-05-18 21:37:35.487,12.99,[FREE_ACCESS],1
16,497,canice44@icloud.com,Canice,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.20.0,None,3,2025-05-23 22:33:14.389137+00:00,ONE_MONTH_FREE,...,200002502935276,2025-06-23 09:08:39+00:00,2025-05-23 09:08:39+00:00,ai.gymii.gymiiai.subscription.monthly.unlimited,ai.gymii.gymiiai.subscription.monthly.unlimited,1.0,2025-03-06 22:59:47.000,8.3325000000000000,"[ONE_MONTH_FREE, TWOMONTHFREE]",2
17,495,absw3131@gmail.com,Abigail,None,False,None,None,3,NaT,None,...,None,NaT,NaT,None,None,NaN,2025-03-06 16:46:22.182,0,[None],0
18,1172,7kgrjp5wzw@privaterelay.appleid.com,Priya,"{'Thai': True, 'Greek': True, 'French': False,...",True,1.26.3,Connie Hsu,3,2025-05-11 08:46:19.015510+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-05-03 20:15:23.495,0,[None],0
19,1120,alec@liveluxee.com,Alec,"{'Thai': False, 'Greek': False, 'French': Fals...",True,1.26.1,None,3,2025-04-26 19:01:16.257309+00:00,None,...,None,NaT,NaT,None,None,NaN,2025-04-25 16:22:40.447,0,[None],0

In [11]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# First, let's process dau_df to get actual user IDs by date
dau_processed = dau_df.copy()

# Ensure unique_users is actually a list of user IDs
if isinstance(dau_df['unique_users'].iloc[0], str):
    dau_processed['unique_users'] = dau_df['unique_users'].apply(eval)

# Convert dates to datetime objects if they're not already
dau_processed['date'] = pd.to_datetime(dau_processed['date'])
user_df['created_at'] = pd.to_datetime(user_df['created_at'])

# Create a dictionary to map dates to active users
date_to_users = dict(zip(dau_processed['date'], dau_processed['unique_users']))

# Group users by creation date to form cohorts
user_df['created_date'] = user_df['created_at'].dt.date

# Remove rows where use has not completed onboarding
user_df = user_df[user_df['dietary_preferences'].notna()]


cohorts = user_df.groupby('created_date')['user_id'].apply(list).to_dict()

# Calculate retention for each cohort
retention_results = []

for cohort_date, cohort_users in cohorts.items():
    cohort_date = pd.to_datetime(cohort_date)
    cohort_size = len(cohort_users)
    print("For user_id: ", cohort_users)
    # Skip cohorts that are too recent for Day 30 analysis
    if cohort_date > dau_processed['date'].max() - timedelta(days=30):
        continue
    
    # Calculate Day 1 retention
    day1_date = cohort_date + timedelta(days=1)
    day1_active_users = []
    if day1_date in date_to_users:
        day1_active_users = [user for user in cohort_users if user in date_to_users[day1_date]]
    day1_count = len(day1_active_users)
    day1_retention = (day1_count / cohort_size * 100) if cohort_size > 0 else 0
    
    # Calculate Day 7 retention
    day7_date = cohort_date + timedelta(days=7)
    day7_active_users = []
    if day7_date in date_to_users:
        day7_active_users = [user for user in cohort_users if user in date_to_users[day7_date]]
    day7_count = len(day7_active_users)
    day7_retention = (day7_count / cohort_size * 100) if cohort_size > 0 else 0
    
    # Calculate Day 14 retention
    day14_date = cohort_date + timedelta(days=14)
    day14_active_users = []
    if day14_date in date_to_users:
        day14_active_users = [user for user in cohort_users if user in date_to_users[day14_date]]
    day14_count = len(day14_active_users)
    day14_retention = (day14_count / cohort_size * 100) if cohort_size > 0 else 0
    
    # Calculate Day 30 retention
    day30_date = cohort_date + timedelta(days=30)
    day30_active_users = []
    if day30_date in date_to_users:
        day30_active_users = [user for user in cohort_users if user in date_to_users[day30_date]]
    day30_count = len(day30_active_users)
    day30_retention = (day30_count / cohort_size * 100) if cohort_size > 0 else 0
    
    retention_results.append({
        'cohort_date': cohort_date,
        'cohort_size': cohort_size,
        'day1_active_users': day1_count,
        'day1_retention': day1_retention,
        'day7_active_users': day7_count,
        'day7_retention': day7_retention,
        'day14_active_users': day14_count,
        'day14_retention': day14_retention,
        'day30_active_users': day30_count,
        'day30_retention': day30_retention
    })

# Create a DataFrame from the results
retention_analysis = pd.DataFrame(retention_results)

# Sort by cohort date
retention_analysis = retention_analysis.sort_values('cohort_date', ascending=False)

# Add week and month columns for grouping
retention_analysis['cohort_week'] = retention_analysis['cohort_date'].dt.to_period('W').astype(str)
retention_analysis['cohort_month'] = retention_analysis['cohort_date'].dt.to_period('M').astype(str)

# Weekly cohort analysis
weekly_retention = retention_analysis.copy()
weekly_avg = weekly_retention.groupby('cohort_week').agg({
    'cohort_size': 'sum',
    'day1_active_users': 'sum',
    'day7_active_users': 'sum',
    'day14_active_users': 'sum',
    'day30_active_users': 'sum'
})

weekly_avg['day1_retention'] = weekly_avg['day1_active_users'] / weekly_avg['cohort_size'] * 100
weekly_avg['day7_retention'] = weekly_avg['day7_active_users'] / weekly_avg['cohort_size'] * 100
weekly_avg['day14_retention'] = weekly_avg['day14_active_users'] / weekly_avg['cohort_size'] * 100
weekly_avg['day30_retention'] = weekly_avg['day30_active_users'] / weekly_avg['cohort_size'] * 100

# Monthly cohort analysis
monthly_retention = retention_analysis.copy()
monthly_avg = monthly_retention.groupby('cohort_month').agg({
    'cohort_size': 'sum',
    'day1_active_users': 'sum',
    'day7_active_users': 'sum',
    'day14_active_users': 'sum',
    'day30_active_users': 'sum'
})

monthly_avg['day1_retention'] = monthly_avg['day1_active_users'] / monthly_avg['cohort_size'] * 100
monthly_avg['day7_retention'] = monthly_avg['day7_active_users'] / monthly_avg['cohort_size'] * 100
monthly_avg['day14_retention'] = monthly_avg['day14_active_users'] / monthly_avg['cohort_size'] * 100
monthly_avg['day30_retention'] = monthly_avg['day30_active_users'] / monthly_avg['cohort_size'] * 100

# Display results
print("Daily cohort retention analysis (most recent 10 days):")
print(retention_analysis.head(10)[['cohort_date', 'cohort_size', 'day1_retention', 'day7_retention', 'day14_retention', 'day30_retention']])

print("\nWeekly cohort retention analysis (most recent 10 weeks):")
recent_weeks = weekly_avg.head(10)[['cohort_size', 'day1_retention', 'day7_retention', 'day14_retention', 'day30_retention']]
print(recent_weeks)

print("\nMonthly cohort retention analysis (all months):")
print(monthly_avg[['cohort_size', 'day1_retention', 'day7_retention', 'day14_retention', 'day30_retention']])

# Calculate overall retention rates
overall_cohort_size = retention_analysis['cohort_size'].sum()
overall_day1_users = retention_analysis['day1_active_users'].sum()
overall_day7_users = retention_analysis['day7_active_users'].sum()
overall_day14_users = retention_analysis['day14_active_users'].sum()
overall_day30_users = retention_analysis['day30_active_users'].sum()

overall_day1_retention = overall_day1_users / overall_cohort_size * 100
overall_day7_retention = overall_day7_users / overall_cohort_size * 100
overall_day14_retention = overall_day14_users / overall_cohort_size * 100
overall_day30_retention = overall_day30_users / overall_cohort_size * 100

print("\nOverall retention metrics:")
print(f"Total users analyzed: {overall_cohort_size}")
print(f"Day 1 Retention: {overall_day1_retention:.2f}%")
print(f"Day 7 Retention: {overall_day7_retention:.2f}%")
print(f"Day 14 Retention: {overall_day14_retention:.2f}%")
print(f"Day 30 Retention: {overall_day30_retention:.2f}%")

# Calculate rolling averages for weekly retention to identify trends
weekly_avg_sorted = weekly_avg.sort_index()
weekly_avg_sorted['day1_retention_rolling'] = weekly_avg_sorted['day1_retention'].rolling(window=4).mean()
weekly_avg_sorted['day7_retention_rolling'] = weekly_avg_sorted['day7_retention'].rolling(window=4).mean()
weekly_avg_sorted['day14_retention_rolling'] = weekly_avg_sorted['day14_retention'].rolling(window=4).mean()
weekly_avg_sorted['day30_retention_rolling'] = weekly_avg_sorted['day30_retention'].rolling(window=4).mean()

print("\nRolling 4-week average retention (most recent 10 weeks):")
print(weekly_avg_sorted.tail(10)[['cohort_size', 'day1_retention_rolling', 'day7_retention_rolling', 'day14_retention_rolling', 'day30_retention_rolling']])

For user_id:  [125]
For user_id:  [126]
For user_id:  [127]
For user_id:  [2, 18, 29, 116, 45, 30, 83, 21, 61]
For user_id:  [84, 91, 33]
For user_id:  [52]
For user_id:  [19]
For user_id:  [13]
For user_id:  [50, 34]
For user_id:  [69]
For user_id:  [128]
For user_id:  [132, 131, 130]
For user_id:  [133]
For user_id:  [92]
For user_id:  [135]
For user_id:  [137]
For user_id:  [139]
For user_id:  [141, 140]
For user_id:  [79]
For user_id:  [142]
For user_id:  [144, 145, 146]
For user_id:  [147, 149, 148]
For user_id:  [150]
For user_id:  [152]
For user_id:  [160, 162, 163]
For user_id:  [179, 180]
For user_id:  [184]
For user_id:  [189]
For user_id:  [221, 224, 223]
For user_id:  [257, 242, 250, 253, 247, 249, 255, 256, 248, 244, 252, 245, 254]
For user_id:  [262, 321, 319, 268, 269, 323, 290, 259, 283, 298, 309, 277, 328, 301, 299, 333, 322, 337, 332, 315, 324, 293, 284, 308, 288, 265, 297, 296, 317, 295, 286, 334, 312, 330, 260, 280, 310, 272, 267, 331, 300, 338, 276, 304, 320, 327, 271, 279, 305, 313, 335, 274, 282, 264, 273, 336, 294, 292, 316, 275, 329, 302, 261, 314, 289, 287, 326, 263, 270, 266]
For user_id:  [346, 358, 340, 351, 348, 342, 376, 357, 349, 344, 367, 343, 375, 350, 345, 347, 368]
For user_id:  [389, 383, 394, 379, 396, 390, 391, 395, 388, 381, 384, 380, 385, 397, 382, 392, 387]
For user_id:  [402, 400, 407, 401]
For user_id:  [412, 409, 411, 416, 415, 413, 410, 417]
For user_id:  [421, 422, 423]
For user_id:  [435, 437, 436, 433]
For user_id:  [446, 457, 445, 456, 455, 458, 454, 443, 447]
For user_id:  [468, 472, 485, 462, 486, 460, 459, 469, 461]
For user_id:  [497, 488, 499, 489, 498, 487]
For user_id:  [501, 500, 505, 503, 502, 506]
For user_id:  [510, 508, 509, 512, 507, 511]
For user_id:  [514, 515]
For user_id:  [517, 516, 518]
For user_id:  [519, 521, 520, 542]
For user_id:  [545, 543, 544]
For user_id:  [547, 550, 546, 548, 549]
For user_id:  [552, 554, 551, 553]
For user_id:  [559, 556, 557, 555]
For user_id:  [561, 563, 560, 562]
For user_id:  [565]
For user_id:  [579, 578]
For user_id:  [596, 602, 617, 595, 582, 580, 585, 619, 604, 601, 597, 615, 612, 583, 594, 609, 598, 599, 607, 586, 584, 614, 621, 610, 608, 620, 618, 592, 613, 611, 616, 593, 581, 603, 589, 600, 587, 591, 606, 588, 605, 590]
For user_id:  [632, 649, 630, 638, 653, 647, 648, 651, 642, 650, 627, 628, 640, 644, 639, 646, 635, 641, 643, 636, 623, 631, 625, 652, 637, 633, 622]
For user_id:  [661, 656, 676, 663, 659, 679, 675, 657, 672, 677, 665, 664, 678, 666, 662, 660, 658, 673]
For user_id:  [696, 694, 701, 687, 700, 683, 698, 688, 682, 699, 695, 684, 693, 686, 697, 680, 685, 690, 681, 692]
For user_id:  [707, 705, 718, 709, 719, 717, 716, 703, 704, 708, 706, 711, 714, 715, 713, 702]
For user_id:  [735, 742, 744, 722, 740, 741, 723, 724, 720, 733, 732]
For user_id:  [750, 762, 754, 761, 756, 753, 747, 748, 764, 745, 751, 746, 755, 749, 758, 752, 763, 759, 765]
For user_id:  [769, 771, 773, 770, 766, 772, 768]
For user_id:  [796, 789, 788, 802, 782, 786, 790, 784, 776, 804, 798, 797, 777, 803, 783, 801, 785, 800, 787, 799]
For user_id:  [805, 812, 806, 814, 810, 809, 815, 813, 811, 807, 808]
For user_id:  [823, 824, 827, 825, 826]
For user_id:  [828, 829, 839, 837, 836, 830, 831]
For user_id:  [851, 845, 846, 853, 841, 843, 852]
For user_id:  [856, 859, 862, 857, 854, 855, 858, 863, 861, 860]
For user_id:  [879, 873, 872, 864, 875, 874, 876, 870, 880, 878, 877]
For user_id:  [892, 886, 881, 902, 901]
For user_id:  [918, 916, 907, 905, 904, 915, 912, 903, 917, 914, 906]
For user_id:  [920, 924, 926, 921, 922, 923, 925]
For user_id:  [934, 933, 931, 932]
For user_id:  [936, 949, 948, 946, 942, 947, 935, 937, 945]
For user_id:  [951, 958, 950, 956, 963, 957, 962, 960, 959, 961]
For user_id:  [972, 965, 966, 968, 973, 970, 971, 969, 964]
For user_id:  [974, 975, 976, 977]
For user_id:  [978, 981, 980]
For user_id:  [983, 984]
For user_id:  [994, 989]
For user_id:  [995, 1001, 996, 999, 998, 997, 1000]
For user_id:  [1016, 1003, 1018, 1017, 1004, 1015, 1009, 1002]
For user_id:  [1019, 1020, 1022, 1023, 1021]
For user_id:  [1024, 1025, 1026]
For user_id:  [1033, 1027, 1028, 1040]
For user_id:  [1047, 1053, 1042, 1041]
For user_id:  [1054, 1056, 1055]
For user_id:  [1062, 1061, 1057, 1058]
For user_id:  [1063, 1081, 1084, 1085, 1080, 1086, 1083, 1073, 1064, 1082]
For user_id:  [1093, 1092, 1091, 1094]
For user_id:  [1108, 1096, 1109, 1095, 1097]
For user_id:  [1120, 1121, 1122, 1123, 1116, 1119, 1118, 1117, 1115, 1114]
For user_id:  [1126, 1125]
For user_id:  [1131, 1136, 1133, 1132, 1134, 1135]
For user_id:  [1137, 1138, 1140]
For user_id:  [1145, 1146, 1147]
For user_id:  [1150, 1149, 1151, 1148]
For user_id:  [1154, 1152, 1153, 1155]
For user_id:  [1156, 1163, 1157, 1164, 1158]
For user_id:  [1172, 1168, 1173, 1166, 1169, 1167, 1165, 1171, 1170]
For user_id:  [1174, 1177, 1178, 1176, 1175, 1179]
For user_id:  [1185, 1186, 1187, 1183, 1184, 1182, 1180, 1181]
For user_id:  [1193, 1188, 1200, 1191, 1189, 1196, 1190, 1198, 1197, 1201, 1199, 1192, 1194, 1195]
For user_id:  [1210, 1208, 1212, 1202, 1213, 1203, 1211, 1207, 1205, 1209, 1204, 1206]
For user_id:  [1220, 1219, 1216, 1218, 1215, 1221, 1217]
For user_id:  [1225, 1224, 1223, 1227, 1226, 1222]
For user_id:  [1234, 1233, 1232]
For user_id:  [1238, 1241, 1242, 1245, 1244, 1240, 1243, 1246, 1235, 1239, 1236, 1237]
For user_id:  [1251, 1248, 1253, 1252, 1255, 1247, 1254, 1250, 1249]
For user_id:  [1263, 1257, 1256, 1262]
For user_id:  [1269, 1268, 1270]
For user_id:  [1272, 1271]
For user_id:  [1290, 1277, 1284, 1280, 1279, 1288, 1281, 1289, 1291, 1278, 1292, 1286, 1282, 1274, 1283, 1276, 1275, 1285, 1287]
For user_id:  [1299, 1303, 1305, 1297, 1301, 1293, 1296, 1298, 1308, 1307, 1304, 1294, 1302, 1300, 1295]
For user_id:  [1316, 1317, 1313, 1311, 1314, 1318, 1309, 1315, 1312, 1310]
For user_id:  [1321, 1320, 1323, 1319]
For user_id:  [1324, 1325, 1327, 1326]
For user_id:  [1334, 1332, 1333, 1328, 1329, 1331, 1330]
For user_id:  [1336, 1335, 1337]
For user_id:  [1345, 1343, 1350, 1347, 1344, 1346, 1348]
Daily cohort retention analysis (most recent 10 days):
   cohort_date  cohort_size  day1_retention  day7_retention  day14_retention  \
87  2025-04-23            4       25.000000        0.000000              0.0
86  2025-04-22           10       10.000000       10.000000              0.0
85  2025-04-21            4        0.000000        0.000000              0.0
84  2025-04-20            3        0.000000        0.000000              0.0
83  2025-04-19            4        0.000000        0.000000              0.0
82  2025-04-18            4       50.000000        0.000000              0.0
81  2025-04-17            3       66.666667       33.333333              0.0
80  2025-04-16            5        0.000000        0.000000              0.0
79  2025-04-15            8       50.000000        0.000000              0.0
78  2025-04-14            7        0.000000        0.000000              0.0

    day30_retention
87              0.0
86              0.0
85              0.0
84              0.0
83              0.0
82              0.0
81              0.0
80              0.0
79              0.0
78              0.0

Weekly cohort retention analysis (most recent 10 weeks):
                       cohort_size  day1_retention  day7_retention  \
cohort_week
2024-12-30/2025-01-05            1      100.000000        0.000000
2025-01-06/2025-01-12            2      100.000000       50.000000
2025-01-13/2025-01-19           14       57.142857       64.285714
2025-01-20/2025-01-26            9       44.444444       55.555556
2025-01-27/2025-02-02            4       75.000000        0.000000
2025-02-03/2025-02-09            7       57.142857       14.285714
2025-02-10/2025-02-16            8       75.000000       12.500000
2025-02-17/2025-02-23            7       28.571429       14.285714
2025-02-24/2025-03-02          132       17.424242       10.606061
2025-03-03/2025-03-09           42       21.428571        7.142857

                       day14_retention  day30_retention
cohort_week
2024-12-30/2025-01-05         0.000000         0.000000
2025-01-06/2025-01-12         0.000000        50.000000
2025-01-13/2025-01-19        57.142857        57.142857
2025-01-20/2025-01-26        33.333333        55.555556
2025-01-27/2025-02-02         0.000000         0.000000
2025-02-03/2025-02-09        28.571429        14.285714
2025-02-10/2025-02-16        37.500000        25.000000
2025-02-17/2025-02-23        14.285714        14.285714
2025-02-24/2025-03-02         7.575758         3.787879
2025-03-03/2025-03-09         2.380952         7.142857

Monthly cohort retention analysis (all months):
              cohort_size  day1_retention  day7_retention  day14_retention  \
cohort_month
2025-01                30       60.000000       50.000000        36.666667
2025-02               143       22.377622       11.888112        11.188811
2025-03               293       15.699659        3.071672         2.047782
2025-04               139       25.899281        5.035971         5.035971

              day30_retention
cohort_month
2025-01             46.666667
2025-02              6.293706
2025-03              1.706485
2025-04              2.877698

Overall retention metrics:
Total users analyzed: 605
Day 1 Retention: 21.82%
Day 7 Retention: 7.93%
Day 14 Retention: 6.61%
Day 30 Retention: 5.29%

Rolling 4-week average retention (most recent 10 weeks):
                       cohort_size  day1_retention_rolling  \
cohort_week
2025-02-17/2025-02-23            7               58.928571
2025-02-24/2025-03-02          132               44.534632
2025-03-03/2025-03-09           42               35.606061
2025-03-10/2025-03-16           27               19.633838
2025-03-17/2025-03-23          126               15.863997
2025-03-24/2025-03-30           80               15.570437
2025-03-31/2025-04-06           55               16.576930
2025-04-07/2025-04-13           39               22.132486
2025-04-14/2025-04-20           34               24.641823
2025-04-21/2025-04-27           18               23.357100

                       day7_retention_rolling  day14_retention_rolling  \
cohort_week
2025-02-17/2025-02-23               10.267857                20.089286
2025-02-24/2025-03-02               12.919372                21.983225
2025-03-03/2025-03-09               11.133658                15.435606
2025-03-10/2025-03-16                8.934584                 6.060606
2025-03-17/2025-03-23                6.156806                 2.886003
2025-03-24/2025-03-30                3.817791                 1.929563
2025-03-31/2025-04-06                2.941168                 2.243416
2025-04-07/2025-04-13                3.938319                 5.448545
2025-04-14/2025-04-20                3.879962                 5.051719
2025-04-21/2025-04-27                4.956351                 4.114219

                       day30_retention_rolling
cohort_week
2025-02-17/2025-02-23                13.392857
2025-02-24/2025-03-02                14.339827
2025-03-03/2025-03-09                12.554113
2025-03-10/2025-03-16                 6.304113
2025-03-17/2025-03-23                 2.931097
2025-03-24/2025-03-30                 1.984127
2025-03-31/2025-04-06                 1.562049
2025-04-07/2025-04-13                 2.844100
2025-04-14/2025-04-20                 2.645688
2025-04-21/2025-04-27                 2.645688

In [12]:
monthly_avg

,cohort_size,day1_active_users,day7_active_users,day14_active_users,day30_active_users,day1_retention,day7_retention,day14_retention,day30_retention
cohort_month,,,,,,,,,
2025-01,30,18,15,11,14,60.000000,50.000000,36.666667,46.666667
2025-02,143,32,17,16,9,22.377622,11.888112,11.188811,6.293706
2025-03,293,46,9,6,5,15.699659,3.071672,2.047782,1.706485
2025-04,139,36,7,7,4,25.899281,5.035971,5.035971,2.877698

In [13]:
retention_analysis.tail(20)

,cohort_date,cohort_size,day1_active_users,day1_retention,day7_active_users,day7_retention,day14_active_users,day14_retention,day30_active_users,day30_retention,cohort_week,cohort_month
19,2025-02-05,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-02-03/2025-02-09,2025-02
18,2025-02-04,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-02-03/2025-02-09,2025-02
17,2025-02-03,2,0,0.000000,0,0.000000,1,50.000000,1,50.000000,2025-02-03/2025-02-09,2025-02
16,2025-01-31,1,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
15,2025-01-29,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
14,2025-01-28,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
13,2025-01-27,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-27/2025-02-02,2025-01
12,2025-01-26,1,0,0.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-20/2025-01-26,2025-01
11,2025-01-25,3,2,66.666667,1,33.333333,1,33.333333,1,33.333333,2025-01-20/2025-01-26,2025-01
10,2025-01-24,1,0,0.000000,0,0.000000,0,0.000000,1,100.000000,2025-01-20/2025-01-26,2025-01
9,2025-01-23,1,0,0.000000,1,100.000000,1,100.000000,1,100.000000,2025-01-20/2025-01-26,2025-01
8,2025-01-21,2,2,100.000000,2,100.000000,1,50.000000,1,50.000000,2025-01-20/2025-01-26,2025-01
7,2025-01-20,1,0,0.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-20/2025-01-26,2025-01
6,2025-01-18,1,0,0.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-13/2025-01-19,2025-01
5,2025-01-17,1,1,100.000000,0,0.000000,1,100.000000,0,0.000000,2025-01-13/2025-01-19,2025-01
4,2025-01-16,3,2,66.666667,3,100.000000,2,66.666667,2,66.666667,2025-01-13/2025-01-19,2025-01
3,2025-01-15,9,5,55.555556,5,55.555556,5,55.555556,5,55.555556,2025-01-13/2025-01-19,2025-01
2,2025-01-11,1,1,100.000000,1,100.000000,0,0.000000,1,100.000000,2025-01-06/2025-01-12,2025-01
1,2025-01-08,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2025-01-06/2025-01-12,2025-01
0,2025-01-03,1,1,100.000000,0,0.000000,0,0.000000,0,0.000000,2024-12-30/2025-01-05,2025-01